/* Global selectors--------------------------------------- */

.g-body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family:'Chakra Petch', monospace,'JetBrains', monospace;
    background-color:#0cca98;
    color:#331940;
    margin: 0;
    padding: 0;
}
.g-nav{
    background: #5e366a;
    background-size: 100%;
    padding-top: 20px;
    padding-bottom: 0;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 1.8rem;
    font-weight: bold;
}

.g-current_tab{
    flex-shrink: 1;
    padding: 0 8px 2px 8px;
    margin-top: 0;
    background-color:#0cca98;
    color: #331940;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
   
   
}
.g-nav a{
    flex-shrink: 1;
    text-decoration: none;
    color: #321d2f;
}
.g-nav a:hover{
    text-decoration: overline;
    text-decoration-color: #0cca98;

}
.g-nav a:visited{
    text-decoration: none;
}
.g-footer{
    margin-top: 20px;
    background-size: 100%;
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    background-color:#5e366a;
    
}

.g_footer p{
    color: aliceblue;
}

.shortText{
    display: none;
}

.g-sampleCont{
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-self: start;
}

.g-sampleCont div:first-of-type{
    padding: 0 0 0 1.2rem;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 450px;
}
.g-sampleCont img{
    height: 300px;
    width: 300px;
    border-radius: 15px;
    border-color: #20615b;
    border-style: solid;
    border-width: 10px;
    opacity: 0.5;
}
.g-sampleCont img:hover{
    opacity: 1;
    transform: scale(1.05) rotate(-3deg);
    border-color: #00ffcc;
}

ul{
    list-style-type: none;
}


/* Page & Section Selectors ----------------------------*/
#p-about{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 20px;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

#p-about img{
    width: 250px;
    height: 350px;
    border-radius: 15px;
    border-color: #20615b;
    border-style: solid;
    border-width: 10px;
    align-self: center;

}
#p-about div{
    align-self: center;
}

#p-about p{
    font-size: 1.3rem;
    max-width: 600px; 
    padding: 0 10px 0 2rem;
    
}

#p-about #myName{
    margin: 0;
    padding: 0 0 0 2rem;
    font-weight: 900;
    font-size: 2em;

}

#p-resHeader{
    padding: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: end;
 
}

#p-resMain{
    padding: 0 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    align-self: center;
}

#p-webAppMain{
    align-self: center;
    width: 80%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
#p-webAppMain h1{
    align-self: center;
    font-size: 5em;
    text-decoration: underline;
}

#p-webAppMain h2{
    margin:0;
    font-size: 2rem;
}
#p-webAppMain strong{
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.7rem;
}

i{
    padding: 10px;
}

@media only screen and (max-width: 875px){
    .longText{
        display: none;
    }
    .shortText{
        display: flex;
    }
}

@media only screen and (max-width: 650px){
    #p-about img{
        display:none
    }
    #p-about #myName{
        padding:0;
       
    }
    #p-about p{
        padding: 0;
        
    }
    .g-sampleCont img{
        height: 150px;
        width: 150px;
    }
}