body{
    display: flex;
    flex-direction: column;
    font-family: 'JetBrains Mono', monospace;
    background-color: #4c5f7a;
    color: #321d2f ;
    margin: 0;
    padding: 0;
}
.g-nav{
    padding-top: 10px;
    display:flex;
    flex-direction: row;
    flex-shrink: 1;
    flex-wrap: nowrap;
    background-color:#393e6f;
    justify-content: space-evenly;
    font-size: 1.5rem;
    font-weight: 700;
}

.g-current_tab{
    flex-shrink: 1;
    padding: 0 8px 2px 8px;
    background-color: #4c5f7a;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
   
   
}
.g-nav a{
    flex-shrink: 1;
    text-decoration: none;
    color: #321d2f;
}
a:hover{
    background-color:#393e6f;
    text-decoration: overline;

}
a:visited{
    text-decoration: none;
}
